body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  &:hover,
  &:active {
    color: #00b7ff;
    text-decoration: underline;
  }
  color: #00b7ff;
  cursor: pointer;

  &.danger {
    color: red;
  }
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}
