<html>
  <head>
    <base href="/" />
    <title>Angular Messenger</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />

    {{!-- Boostrap --}}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

    {{! Styles }}
    <link rel="stylesheet" href="../stylesheets/inicio/inicio.css" />

  </head>
  <body>

    <div class="container">
      <div class="formulario">
        <form action="/message" method="post">
          <div class="mb-3">
            <label for="menssage" class="form-label">Digite algo: </label>
            <input
              type="text"
              name="messageBody"
              class="form-control"
              id="menssage"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Enviar</button>
        </form>
      </div>
    </div>

    <script src="/js/app/bundle.js"></script>

    {{!-- Boostrap --}}
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
