<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Trabalho Programação 1</title>
    <link rel='stylesheet' href='/stylesheets/stylesheet.css' />
</head>

<body>
    <div class="container">
        <h1 class="title">Login</h1>
        {{!-- trocar action --}}
        <form style="display: flex;
    flex-direction: column;" class="form" action="/node-mongodb-mongoose-user" method="post">
            <input class="user" type="text" name="" id="">
            <input class="password" type="password" name="" id="">
            <button class="submit" type="submit">Login</button>
        </form>
    </div>
</body>