<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    {{! Boostrap }}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

    {{! Styles }}
    <link rel="stylesheet" href="../stylesheets/reset/reset.css" />
    <link rel="stylesheet" href="../stylesheets/main/main.css" />
    <link
      rel="stylesheet"
      href="../stylesheets/telaPrincipal/tela-principal.css"
    />

  </head>
  <body>

    <div class="card-tela-principal">
      <div class="card" style="width: 18rem;">
        <img
          src="https://media1.giphy.com/media/l3q2JCu9lep6dAmyY/giphy.gif?cid=ecf05e477s5etkjjgooio7qhck6l59qcyaczpehsnycd9sto&ep=v1_gifs_search&rid=giphy.gif&ct=g"
          class="card-img-top"
          frameBorder="0"
          alt="gifs do Michael Jordan"
        />
        <div class="card-body">
          <div class="card-herder">
            <h4 class="card-title">A node view</h4>
            <p class="card-subtitle mb-2 text-body-secondary">{{message}}</p>
          </div>
        </div>
      </div>

    </div>

    {{! Boostrap }}
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
